extends ../layout 

block content
    h1 the number of the teams is #{teams.length}

    each team in teams
        p The name of team is #{team.name}
        p The Squad length is #{team.squad.length}